/* Custom css by Arno */
/*.page-resultat .container-liste-resultat {
	margin-bottom: 20px;
}*/

/*.page-resultat .container-nbr-resultat {
	max-width: 50%;
}
.page-resultat {}
.page-creer-profil .content-annonce .form-modification-info {}
.page-creer-profil .content-info-perso .form-modification-info {}*/

/*.page-resultat .container-liste-resultat {
	position: relative;
	margin: 10px 0 50px;
	padding: 15px 0;
}*/
/*.page-resultat .container-nbr-resultat {
	position: relative;
	margin: 30px 0 50px;
	padding: 15px 0;
	background-color: #eeeeee;
}*/

/*.page-resultat {
	padding-bottom: 30px;
}*/

.tarif{
  padding:inherit;
}
/*#rayon{
  border-left: 1px solid #39bccc;
  float: right;
}*/
.no-margin{
  margin: 0;
}

/*.link-pro{
  position: absolute;
  top: 68px;
  right: 31px;
}*/

/*.page-creer-profil .content-info-perso .form-modification-info {
	display:initial;
}*/

/*.creation-compte .content-form-creation input[type="text"]{
    width: 60%;
    display: block;
    margin: 0 auto 15px;
}*/
/*.page-creer-profil .content-annonce .form-modification-info {
    display: initial;
}*/

/*.select-ltc {
    padding: 5px 0 5px 0;
    height: 32px;
    width: 100%;
}*/

/*#add-option {
    display: inline-block;
    margin-top: 5px;
    text-align: center;
    color: #fafafa;
    font-weight: 700;
    background-color: #55656f;
    border-radius: 4px;
    border: none;
    padding: 7px 15px;
    height: 32px;
    width: 160px;
}*/

/*.page-profil h2{
    font-size: 36px;
    color: #55656f;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 5px;
}*/
header .connexion-header{
  top:-118px;
}

header .open{
  top:100px;
}

textarea {
  height:initial!important;
  resize:none;
}