@charset "UTF-8";

@font-face {
    font-family: "livetestcar";
    src:url("../fonts/livetestcar.eot");
    src:url("../fonts/livetestcar.eot?#iefix") format("embedded-opentype"),
    url("../fonts/livetestcar.woff") format("woff"),
    url("../fonts/livetestcar.ttf") format("truetype"),
    url("../fonts/livetestcar.svg#livetestcar") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
  font-family: "livetestcar" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "livetestcar" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add118:before {
  content: "K";
}
.icon-add139:before {
  content: "L";
}
.icon-arrow483:before {
  content: "M";
}
.icon-arrow486:before {
  content: "N";
}
.icon-arrow487:before {
  content: "O";
}
.icon-arrow492:before {
  content: "P";
}
.icon-arrowhead7:before {
  content: "R";
}
.icon-basic14:before {
  content: "Q";
}
.icon-black187:before {
  content: "S";
}
.icon-call10:before {
  content: "T";
}
.icon-car15:before {
  content: "U";
}
.icon-car72:before {
  content: "V";
}
.icon-car80:before {
  content: "W";
}
.icon-car186:before {
  content: "9";
}
.icon-clock139:before {
  content: "8";
}
.icon-copyrighted:before {
  content: "7";
}
.icon-delete85:before {
  content: "6";
}
.icon-document315:before {
  content: "5";
}
.icon-email19:before {
  content: "4";
}
.icon-exclamationmark:before {
  content: "3";
}
.icon-facebook2-1:before {
  content: "2";
}
.icon-facebook55:before {
  content: "B";
}
.icon-folder47:before {
  content: "1";
}
.icon-garbage24:before {
  content: "0";
}
.icon-information38:before {
  content: "Z";
}
.icon-lights7:before {
  content: "Y";
}
.icon-magnifier12:before {
  content: "X";
}
.icon-male66:before {
  content: "!";
}
.icon-map-point1:before {
  content: "\"";
}
.icon-navigate6:before {
  content: "#";
}
.icon-picture64:before {
  content: "$";
}
.icon-power26:before {
  content: "%";
}
.icon-print44:before {
  content: "&";
}
.icon-settings48:before {
  content: "'";
}
.icon-three132:before {
  content: "(";
}
.icon-trophy36:before {
  content: ")";
}
.icon-twitter-1:before {
  content: "*";
}
.icon-twitter1:before {
  content: "A";
}
.icon-upload96:before {
  content: "+";
}
.icon-user91:before {
  content: ",";
}
.icon-writing46:before {
  content: "-";
}
.icon-power:before {
  content: "a";
}
.icon-rotate6:before {
  content: "b";
}
.icon-logo-vert-blanc:before {
  content: "c";
}
.icon-play102:before {
    content: "d";
}
