@charset "UTF-8";

@font-face {
  font-family: "livetestcar";
  src:url("../fonts/livetestcar.eot");
  src:url("../fonts/livetestcar.eot?#iefix") format("embedded-opentype"),
    url("../fonts/livetestcar.woff") format("woff"),
    url("../fonts/livetestcar.ttf") format("truetype"),
    url("../fonts/livetestcar.svg#livetestcar") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "livetestcar" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "livetestcar" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add118:before {
  content: "a";
}
.icon-arrow483:before {
  content: "b";
}
.icon-arrow487:before {
  content: "c";
}
.icon-arrowhead7:before {
  content: "d";
}
.icon-basic14:before {
  content: "e";
}
.icon-black187:before {
  content: "f";
}
.icon-call10:before {
  content: "g";
}
.icon-car15:before {
  content: "h";
}
.icon-car72:before {
  content: "i";
}
.icon-car80:before {
  content: "j";
}
.icon-car186:before {
  content: "k";
}
.icon-clock139:before {
  content: "l";
}
.icon-copyrighted:before {
  content: "m";
}
.icon-power26:before {
  content: "n";
}
.icon-picture64:before {
  content: "o";
}
.icon-navigate6:before {
  content: "p";
}
.icon-map-point1:before {
  content: "q";
}
.icon-male66:before {
  content: "r";
}
.icon-magnifier12:before {
  content: "s";
}
.icon-lights7:before {
  content: "t";
}
.icon-information38:before {
  content: "u";
}
.icon-garbage24:before {
  content: "v";
}
.icon-facebook2:before {
  content: "w";
}
.icon-exclamationmark:before {
  content: "x";
}
.icon-email19:before {
  content: "y";
}
.icon-delete85:before {
  content: "z";
}
.icon-print44:before {
  content: "A";
}
.icon-settings48:before {
  content: "B";
}
.icon-three132:before {
  content: "C";
}
.icon-trophy36:before {
  content: "D";
}
.icon-twitter:before {
  content: "E";
}
.icon-user91:before {
  content: "F";
}
.icon-writing46:before {
  content: "G";
}
.icon-arrow486:before {
  content: "H";
}
.icon-arrow492:before {
  content: "I";
}
.icon-add139:before {
  content: "J";
}
